.pawn {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0%;
    background-size: 225%;
    pointer-events: none;
}

.pawn-empty {
    background-image: url("images/pawns/blank.png");
}

.pawn-blue-master {
    background-image: url("images/pawns/blue_master_pawn.png");
}

.pawn-blue-normal {
    background-image: url("images/pawns/blue_pawn.png");
}

.pawn-red-master {
    background-image: url("images/pawns/red_master_pawn.png");
    pointer-events: revert;
}

.pawn-red-master:hover {
    cursor: pointer;
}

.pawn-red-normal {
    background-image: url("images/pawns/red_pawn.png");
    pointer-events: revert;
}

.pawn-red-normal:hover {
    cursor: pointer;
}

body {
    background-image: url("images/paper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(5, auto);
    gap: 1%;
    padding: 1.1%;
    width: auto;
    height: 100%;
    /* background-color: #2e2e23; */
    /* background-image: url("images/board-background.png");
    /* border-style: solid;
    border-width: 9px;
    border-color: #2e2e23; */
    border-radius: 3.75%;
    aspect-ratio: 1;
    box-sizing: border-box;
}

.space {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    max-width: 100%;
    max-height: 100%;
    position: relative;
    /* background-color: #bda377; */
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8%;
    margin: 0;
    background-size: contain;
}

.blue-temple {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("images/blue-temple.png");
	background-size: cover;
	width: 100%;
	height: auto;
	aspect-ratio: 64/5;
	top: -8%;
}

.red-temple {
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("images/red-temple.png");
	background-size: cover;
	width: 100%;
	height: auto;
	aspect-ratio: 64/5;
	bottom: -8%;
}

.rotated {
    transform: rotate(180deg);
}

.card {
    width:auto;
    height:71.43%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0svh 1svh;
    z-index: 3;
    background-size: contain;
    aspect-ratio: 15/9;
}

.red-card:hover {
    cursor: pointer;
}


.player-hand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 21%;
}

.game-space {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 58%;
}

.middle {
    height: 25.86%;
    margin: 0svh 6svh;
}

.selection-empty {
    background-image: url("images/selections/empty.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: contain;
}

.selection-pawn {
    background-image: url("images/selections/red-pawn-selected.png");
    background-color: rgba(17.7, 17.6, 13.6, .2);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-size: 100%;
}

.selection-dest {
    background-image: url("images/selections/red-target-square.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: 100%;
    position: absolute;
}

.selection-dest:hover {
    background-color: rgba(17.7, 17.6, 13.6, .2);
    cursor: pointer;
}

.selection-card-empty {
    background-image: url("images/selections/empty.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size:contain;
}

.selection-card-red {
    background-image: url("images/selections/red-card-selected.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size:100%;
}

/* Form styling */
/* https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons */

form {
    text-align: center;
    background: url("images/board-background.png");
    display: block;
    width: 30em;
    position: relative;
    border-radius: 10px;
    z-index: 4;
}

.results {
    opacity: .8;
}

.results:hover {
    opacity: 1;
}

#settings-overlay {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background: rgba(0, 0, 0, 0.22); */
    z-index: 3;
    font-size: 14px;
    font-family: "Noto Sans",Sans-Serif;
    color: #d6d6d6;
}

group.radio {
    /* margin: 0 auto 1em auto;
    width: 70%; */
    display: flex;
    gap: 0px;
    justify-content: center;
}

group.radio input:checked + label {
	background: #82a492e5;
}

group.radio input:checked + label {
	color: #fff;
}

group.radio input:checked + label {
	box-shadow: 0 3px 4px rgba(0,0,0,.15) inset;
}

group.radio label, group.radio .label {
	/* justify-content: center; */
	padding: 10px;
	height: 100%;
	cursor: pointer;
	border-left: 1px solid #404040;
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
	user-select: none;
}

.form-submit-button {
    background: #82a49200;
    color: #d6d6d6;
    border: 1px solid #404040;
    border-radius: 4px;
    text-shadow: none;
    padding: 10px 20px 10px 20px;
    margin: 20px;
}
.form-submit-button:hover {
    background: #82a492;
    color: #fff;
    border: 1px solid #404040;
    border-radius: 4px;
    text-shadow: none;
    cursor: pointer;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.hourglass-show {
    background-image: url("images/cards/blue-hourglass-three-dot.png");
    background-size: cover;
    height: 100%;
    animation: hourglassDots 4s steps(4) infinite, fadeInOpacity .5s linear 1;
}

@keyframes hourglassDots {
    from {
        width: 60%;
    }
    to {
        width: 100%;
    }
}

/* RESPONSIVE TESTING */

#wrapper {
    height: 94svh;
    margin: .9svh 0svh;
}

#rotate-icon {
    width: 0px;
    height: 0px;
}

@media only screen and (max-width: 600px) {
    #wrapper {
        height: 94svw;
        margin: .9svw 0svh;
        opacity: 0;
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg); */
    }

    body {
        background-image: url("images/rotate-paper.jpg");
    }

    #rotate-icon {
        background-image: url("images/rotate-screen-icon.png");
        background-size: cover;
        width: 70svw;
        height: auto;
        aspect-ratio: 535/557;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);        
    }
}

.game-history {
    background: url("images/board-background.png");
    position: fixed;
    left: 8svh;
    top: 6svh;
    height: 6svh;
    padding: .5svh;
    border-radius: 1svh;
    opacity: 60%;
}

.game-history:hover {
    opacity: 100%;
}

.forward {
    height: 4svh;
    margin: 1svh;
    opacity: 40%;
}

.backward {
    height: 4svh;
    transform: rotate(180deg);
    margin: 1svh;
    opacity: 40%;
}

.step-able {
    opacity: 100%;
}

.step-able:hover {
    cursor: pointer;
}