<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
    <head>
        <title>Onitama</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
        <link rel="stylesheet" href="{% static 'onitama-styling.css' %}">
        <script src="{% static 'front-end/cards.js' %}"></script>
        <script src="{% static 'front-end/onitama.js' %}"></script>
    </head>
    <body>
        <form id="AI-settings" method="post">
            {% csrf_token %}
            PLAYSTYLE <br>
            <input type="radio" id="defensive" name="playstyle" value="defensive">
            <label for="defensive">Defensive</label>
            <input type="radio" id="balanced" name="playstyle" value="balanced">
            <label for="balanced">Balanced</label>
            <input type="radio" id="aggresive" name="playstyle" value="aggresive">
            <label for="aggresive">Aggresive</label> <br>

            DIFFICULTY <br>
            <input type="radio" id="depth-1" name="depth" value=1>
            <label for="depth-1">1</label>
            <input type="radio" id="depth-2" name="depth" value=2>
            <label for="depth-2">2</label>
            <input type="radio" id="depth-3" name="depth" value=3>
            <label for="depth-3">3</label>
            <input type="radio" id="depth-4" name="depth" value=4>
            <label for="depth-4">4</label> <br>

            <input type="submit" value="Play">

        </form>
        <div class="player-hand">
            <div class="card rotated" id="blue_card_0"></div>
            <div class="card rotated" id="blue_card_1"></div>
        </div>
        <div class="game-space">
            <div class="card rotated" id="middle_card_0"></div>
            <div class="board"></div>
            <div class="card" id="middle_card_1"></div>
        </div>
        <div class="player-hand">
            <div class="card" id="red_card_0">
                <div class="selection-card-empty"></div>
            </div>
            <div class="card" id="red_card_1">
                <div class="selection-card-empty"></div>
            </div>
        </div>
    </body>
</html>