<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="en">
    <head>
        <title>Onitama</title>
        <link rel="stylesheet" href="{% static 'onitama-styling.css' %}">
        <script src="{% static 'front-end/cards.js' %}"></script>
        <script src="{% static 'front-end/onitama.js' %}"></script>
    </head>
    <body>
        <div class="player-hand">
            <div class="card rotated" id="blue_card_0"></div>
            <div class="card rotated" id="blue_card_1"></div>
        </div>
        <div class="game-space">
            <div class="card rotated" id="middle_card_0"></div>
            <div class="board"></div>
            <div class="card" id="middle_card_1"></div>
        </div>
        <div class="player-hand">
            <div class="card" id="red_card_0">
                <div class="selection-card-empty"></div>
            </div>
            <div class="card" id="red_card_1">
                <div class="selection-card-empty"></div>
            </div>
        </div>
    </body>
</html>